
.header {
    display: flex;
    background-color: #1f2937;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    
}
body{
    background-color: white;
    padding: 0px;
    margin: auto;
}
.header-logo {
    font-weight: bold;
    color: #f9faf8;
    font-size: 24px;
}

.header-links {
    display: flex;
    font-size: 12px;
    margin-left: auto;
    gap: 15px;
    padding: 20px;
    color: #e5e7eb;
    align-items: center;
}

.hero-section{
    display: flex;
    flex: 1 auto;
    background-color: #1f2937;
}

.hero-left {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.hero-title{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-content{
    font-size: 18px;
    color: #e5e7eb;
}

.image-placeholder{
    margin-left: auto;
    background-color: grey;
    padding: 100px 150px;
    margin: 200px 100px;
}

.hero-button{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    border-width: 0px;
    padding: auto;
}